# ~/.config/nixos/.envrc
# This file is sourced by direnv to load the devenv environment.
# This method uses use_flake to load Nix environment first, then runs devenv shell.
use_flake
exec devenv shell "$@"
